*{
    margin: 0;
    text-align: left;
    font-family: "roboto"  , sans-serif;
  }
  BODY{
    background-color: rgb(51, 191, 213);
  }
  NAV{
    width: 100%;
    height: 14vh;
    background-color: white;
    display: flex;
    align-items: center;
  }
  nav ul li{
    list-style: none;
    display: inline;
    margin-left: 25px;
  }
  nav ul li a{
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  }
   
  
  .pho, .phoi   {
      text-align: center;
  }
  .eml{
    text-align:right;
  }
  h3{
    border-bottom: solid 5px rgb(24, 98, 131);
    width: 180px;
    padding: 10px;
    color: black;
    margin:auto;
    text-align: center;
    
  }